.features {
  padding: 198px 0 160px;
  background-color: $main-color;
  position: relative;
  overflow: hidden;

  &__decor {
    position: absolute;
    top: 0;
    left: 400px;
    bottom: 0;
    width: 1908px;
    height: 563px;
    transform: rotate(-65deg);
    overflow: hidden;

    img {
      transform: rotate(65deg);
    }

  }

  &__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    margin-bottom: 69px;
    width: 362px;
  }

  &__img {
    width: 1908px;
    height: 563px;
    border-radius: 500px;
    background-color: white;
    transform: rotate(-65.1deg);
    position: relative;
  }
}
