.testimonials {
  padding-top: 166px;
  padding-bottom: 304px;
  position: relative;
  background-color: white;

  &__blocks {
    width: 100%;
    position: absolute;
    top: 384px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    margin-bottom: 86px;
    width: 362px;
  }

  &__container {
    padding-left: 227px;
  }
}
