html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: inherit;
  border-width: 0;
  text-decoration: none; }

.header {
  margin-bottom: 80px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    white-space: nowrap; }
  .header__logo {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-right: 143px; }
  .header__action {
    font-weight: bold;
    color: white;
    position: relative;
    margin-left: 72px; }
    .header__action::after {
      content: "";
      height: 4px;
      width: 120%;
      background-color: #fcc304;
      border-radius: 32px;
      position: absolute;
      bottom: -10px;
      left: -10%; }

@media screen and (max-width: 999px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    margin: 0 0 20px; }
  .header__action {
    margin: 20px 0 0; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.nav__link {
  color: white;
  font-weight: bold;
  margin-right: 63px; }

@media screen and (max-width: 999px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__link {
    margin: 0; } }

.intro {
  width: 60%;
  margin: auto; }
  .intro__heading {
    color: white;
    font-weight: 900;
    font-size: 64px; }
  .intro__text {
    color: white;
    font-size: 24px;
    margin-top: 22px; }
  .intro__button {
    display: inline-block;
    background-color: white;
    color: #253757;
    width: 226px;
    margin-top: 42px; }

.button {
  padding: 16px 65px;
  font-weight: bold;
  border-radius: 64px; }

.slider {
  margin-top: 80px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slider__photos {
    position: relative;
    background-image: url("../images/slider/slide-img-1.jpg");
    background-size: cover;
    width: 1146px;
    height: 640px; }
  .slider__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: calc(50% - 32px);
    left: -81px;
    width: 162px;
    height: 64px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    padding: 20px 32px; }
  .slider__header {
    color: #56ccf2;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 144px;
    left: 100px; }
  .slider__text {
    font-weight: 900;
    font-size: 20px;
    color: white;
    width: 264px;
    position: absolute;
    bottom: 86px;
    left: 100px; }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 640px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .media__link {
    position: relative;
    left: 64px;
    color: black;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl; }

.welcome {
  margin: 160px auto;
  width: 742px; }
  .welcome__text {
    font-weight: 600;
    font-size: 24px;
    color: #253757; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .heading__text {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
  .heading__rectangle {
    margin-right: 16px;
    width: 21px;
    height: 21px;
    background-image: url("../images/sub-title/sub-title-icon-dark.svg"); }

.heading_white .heading__text {
  color: white; }

.heading_white .heading__rectangle {
  background-image: url("../images/sub-title/sub-title-icon-light.svg"); }

.what-we-do {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 264px);
  grid-column-gap: 128px;
  padding: 160px 0;
  color: #253757;
  position: relative; }
  .what-we-do__name {
    position: absolute;
    font-weight: 900;
    font-size: 48px;
    top: -30px;
    left: calc(50% - 154px); }
  .what-we-do__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 64px; }
  .what-we-do__heading {
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 32px; }

.process {
  padding: 160px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #253757; }
  .process__heading {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 64px; }
  .process__text {
    line-height: 1.5; }
  .process__blocks {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-column-gap: 58px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.numbers-block {
  width: 240px;
  height: 256px;
  background: white;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 150px; }
  .numbers-block__circle {
    width: 48px;
    height: 48px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    top: 48px; }
  .numbers-block__number {
    font-weight: 900;
    font-size: 40px;
    color: #56ccf2;
    line-height: 1.5; }
  .numbers-block__text {
    font-size: 13px;
    color: #253757;
    text-align: center;
    line-height: 1.5; }

.numbers-block_orange {
  top: 30px; }
  .numbers-block_orange .numbers-block__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
  .numbers-block_orange .numbers-block__number {
    color: #fcc304; }

.numbers-block_green {
  top: 300px; }
  .numbers-block_green .numbers-block__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4; }
  .numbers-block_green .numbers-block__number {
    color: #03d542; }

.numbers-block_red {
  top: 230px; }
  .numbers-block_red .numbers-block__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .numbers-block_red .numbers-block__number {
    color: #f25656; }

.features {
  padding: 198px 0 160px;
  background-color: #56ccf2; }
  .features__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.4;
    color: #253757;
    display: block;
    width: 362px;
    margin-bottom: 69px; }

.icons {
  display: grid;
  grid-template-rows: repeat(3, 96px);
  grid-template-columns: 362px;
  grid-row-gap: 64px; }
  .icons__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .icons__text {
    color: white;
    line-height: 1.5;
    margin-left: 32px; }

body {
  background-color: #fcfcfd; }

.background {
  background-image: linear-gradient(115deg, #56ccf2 77%, #fcfcfd 77%);
  width: 100%;
  height: 827px;
  position: absolute;
  z-index: -1; }

.container {
  padding-left: 227px;
  padding-right: 145px; }

/*# sourceMappingURL=main.css.map */
